@{
    ViewData["Title"] = "Home Page";
}
<div class="header">
    <div class="header-child">
        <p class="header-description">Welcome to ELap store where you can find all diffrenet kind of laptops, trust I said all kind so just go to the shop and explore !</p>
        <a type="button" class="btn btn-primary" asp-controller="Shop" asp-action="Index">Go to shop</a>
    </div>
</div>
<div class="container">
    <div class="card-custom bg-light shadow border-0">
        <p class="card-description">Our products are the best and savest</p>
        <img class="card-image" src="~/assets/reliable.svg" />
    </div>
    <div class="card-custom bg-light shadow border-0">
        <p class="card-description">Our products are the best and savest</p>
        <img class="card-image" src="~/assets/save.svg" />
    </div>
    <div class="card-custom bg-light shadow border-0">
        <p class="card-description">Our products are the best and savest</p>
        <img class="card-image" src="~/assets/fast.svg" />
    </div>
</div>
