
@{
    ViewData["Page"] = "Admin";
}

@model LaptopEcommerce.Models.Product

    <div class="container">
        <form method="post" asp-action="DeleteProductAction">
            <input type="hidden" asp-for="ID" />
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" type="text" class="form-control" id="exampleFormControlInput1" disabled>
            </div>
            <div class="mb-3">
                <label asp-for="Details" class="form-label"></label>
                <textarea asp-for="Details" class="form-control" disabled></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="Category" class="form-label"></label>
                <select asp-for="Category" class="form-control" disabled>
                    <option value="1x2">1 x 2</option>
                    <option value="Laptop">Laptop</option>
                    <option value="Tablet">Tablet</option>
                    <option value="Desktop">Desktop</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Prize" class="form-label"></label>
                <input asp-for="Prize" type="Number" class="form-control" id="exampleFormControlInput2" disabled>
            </div>
            <button class="btn btn-primary" type="submit">Delete</button>
            <a class="btn btn-dark" asp-action="Index">Cancel</a>
        </form>
        </div>
        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
